body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  color: #f2f2f2;
}

.messages-container {
  box-sizing: border-box;
  height: calc(100vh - 200px);
  overflow: auto;
  padding: 20px;
}

.inputs-container {
  height: 160px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.4);

  input,
  textarea {
    width: 100%;
    border: none;
    box-shadow: none;
    margin-bottom: 20px;
  }

  textarea {
    resize: none;
    overflow: auto;
  }
}

.message-username,
.message-body {
  margin: 0;
}

.message-username {
  flex: 0 0 150px;
}

.single-message-container {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
